:root {
  --theme: rgb(250, 250, 250);
  --code-bg: rgb(250, 250, 250);
}

.home-info img {
  border-radius: 50%;
  border: 3px solid #05bdd5;
}

#menu-container {
  display: flex;
}

.entry-header {
  display: flex !important;
}

.first-entry {
  margin: var(--gap) 0;
}

.buttons,
.main .profile {
  justify-content: left;
}

a[title="Hire Me"] {
  background-color: #05bdd5;
  color: #fff;
}

.post-content h2 {
  font-size: 24px;
}

.post-content h3 {
  font-size: 18px;
}

.post-content h4 {
  font-size: 15px;
}

.post-content li {
  list-style-type: circle;
}

@media (max-width: 768px) {
  .home-info img {
    display: none;
  }
}
