:root {
  --primary: rgb(40, 40, 40);
  --theme: rgb(247, 247, 247);
  --code-bg: rgb(247, 247, 247);
}

.home-info img {
  border-radius: 50%;
  border: 3px solid #04a5bb;
}

.entry-header {
  display: flex !important;
}

.post-content h2 {
  font-size: 24px;
}

.post-content h3 {
  font-size: 18px;
}

.post-content h4 {
  font-size: 15px;
}

.post-content li {
  list-style-type: circle;
}

@media (max-width: 768px) {
  img {
    display: none;
  }
}
